@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';


@import "pages/login";

.sidebar-bg {
  background-color: rgba(40, 40, 40, 0.7);
}

.nav-activ {
  background-color: rgba(59, 130, 246, var(--tw-text-opacity));
  padding: 5px 10px;
  border-radius: 5px;
}