{% extends 'layouts/is_login.html.twig' %}

{% block title %}Mes clients{% endblock %}

{% block content %}
    <header class="-ml-10 grid grid-cols-2 px-5 py-3 fixed top-0 bg-gray-800 w-full text-white">
        <div class="flex text-lg uppercase">
            <span><i class="fas fa-arrow-circle-left text-xl"></i></span>
            <span class="ml-3 text-xl"><i class="fas fa-arrow-circle-right"></i></span>
            <h3 class="ml-5">Mes clients</h3>
        </div>
    </header>
    <div style="height: 1000px; width: 90%; background-color: #5eb5e0"></div>
{% endblock %}
